<h3>Edit your restaurant review!</h3>

<%# render _form.html.erb here %>
<%# In most cases, the ActionController::Base#render method does the heavy lifting of rendering my application's content for use by a browser %>
<%# If I want to render the view that corresponds to a different template within the same controller, I can use render with the name of the view: %>

<%= render "form" %>